.slider {
  min-height: 300px;
  background-image: linear-gradient(var(--primary-color), var(--background-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 0 0 80px 80px;

  &__heading {
    color: var(--text-color-white);
    font-size: var(--font-size-large);
    text-align: center;
  }
}